<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title1 %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home_page">Home Page</a></li>
    <li><a data-toggle="tab" href="#math_sl">Math SL</a></li>
    <li><a data-toggle="tab" href="#computer_science">Computer Science</a></li>
    <li><a data-toggle="tab" href="#robotics">Robotics</a></li>
  </ul>

  <div class="tab-content">
    <div id="home_page"  class="tab-pane fade in active">
        <p><a href="/"></a></p>
    </div>
    <div id="math_sl" class="tab-pane fade in active">
        <p><a href="/mathsl"></a></p>
    </div>
    <div id="computer_science"  class="tab-pane fade in active">
        <p><a href="/computer_science"></a></p>
    </div>
    <div id="robotics"  class="tab-pane fade in active">
        <p><a href="/robotics"></a></p>
    </div>
  </div>

  <nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home Page</a></li>
    <li><a href="/mathsl">Math SL</a></li>
    <li><a href="/computer_science">Computer Science</a></li>
    <li><a href="/robotics">Robotics</a></li>
  </ul>
  </nav>

  <div class="row">
    <div class="col-sm-9">
      <h1><%= title1 %></h1>
      <p>E-Mail: Clayton-Dagler@scusd.edu</p>
      <p>Phone: <mark>(916) 936-2840</mark><br></p>
      <br><br>
    </div>
    <div class="hidden-xs col-sm-3">
      <img class="img_right" src="images/myPic.gif" width="200">
    </div>
  </div>

  <p>Welcome to <%= title2 %>. If you have any questions or comments please
  contact me via email, text, or phone. Click on the following links to go to
  different parts of my website. </p>

  <%- body %>

</div>
</body>
</html>
